# Node
node_modules/
npm-debug.log*
package-lock.json

# NW.js 폴더
Dictionaries/
locales/

# NW.js 빌드 산출물
nwjs-sdk-*/
nwjs-*/
nw.exe
nw.pak
*.pak
*.bin
*.dat
*.so
*.dylib
*.dll
*.exe

# 빌드 결과물
dist/
build/
out/
release/
tmp/
cache/
*.zip
*.tar.gz

# OS 별 캐시/임시파일
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# ~
